.olive-text a {
    color: #ffffff;
}

.lime-text {
    color: #2C5909;
}

.Toolbar {
    margin-top: 0px;
    padding: 0px;
    background-color: #2C5909;
    overflow: hidden;
    width: 1200px;
}

    .Toolbar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .Toolbar a:hover {
            background-color: #ddd;
            color: black;
        }

        .Toolbar a.active {
            background-color: #4CAF50;
            color: white;
        }

    .Toolbar input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

.container {
    max-width: 1200px;
    margin: initial;
    display: flex;
    align-items: center;
}


.d-inlineblock {
    display: inline-block;
}

.width-25 {
    width: 20%;
}

.width-75 {
    width: 75%;
}


.content-around {
    display: flex;
    justify-content: space-around;
}








img {
    width: 100%;
}

html {
    background-image: url('/Project/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

div {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}



button.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
}
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26pt;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align:left;
    font-weight: normal;
    color: #2C5909;
}
p:first-letter {
    text-transform: uppercase;
}

p {
    color:#4CAF50;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 16pt;
    font-variant: small-caps;
}
hr{
    border: 1.2px solid green;
}
img.Team {
    border-radius: 50%;
    max-width: 110px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    align-content: center; 
}
